*{
    font-family: 'Cinzel', serif;
}
html {
    scroll-behavior: smooth;
  }
.Jumbotron{
    font-family: 'Cinzel Decorative', cursive;
}
.j1{
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/3394939/pexels-photo-3394939.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.j2{
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/3244513/pexels-photo-3244513.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.j3{
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/7267852/pexels-photo-7267852.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}
.j4{
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(https://images.pexels.com/photos/2559484/pexels-photo-2559484.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.i1 {
    position: relative;
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.img{
    opacity: .25;
}
/* .intro{
    height: 250px;
    opacity: .25;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://t3.ftcdn.net/jpg/04/07/89/98/360_F_407899858_5EmoX2LHSDnfG27myVkenpLEY90s7uX3.jpg);
} */
.c1{
    display: flex;
    gap: 10px;
}
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: ghostwhite;
    text-align: center;
  }